{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "trailingComma" : "none",
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "^@/components(.*)$", "^[./]", "^@/styles(.*)$", "^@/assets(.*)$", "^@/utils(.*)$", "^@/lib(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}