@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: #f8f9f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: #15202b;
  }
}

:root {
  transition: all 100ms ease-in-out;
  --background-rgb: white;
  --foreground-rgb: black;
  --card-background-to: #E1E7EC;
  --card-background: #D5DCE3;
  --card-text: #1f2937;
}

[data-theme='dark'] {
  transition: all 100ms ease-in-out;
  --background-rgb: #14281D;
  --foreground-rgb: white;
  --card-background-to: #E1E7EC;
  --card-background: #D5DCE3;
  --card-text: #1f2937;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}

.categoryCard:hover {
  transform: rotate(0deg) scale(1.5) !important;
  z-index: 11 !important;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes moveLetters {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}
